* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}



a {
  text-decoration: none;
}

ul ol li {
  display: inline-block;
  list-style: none;
}

body {
  width: 1903px;
}

.main {
  width: 100%;
}

.top_menu {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

.topMenu_top{
  height: 58px;
}


.top_warp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 59px;
  margin: 0 auto;

}

.lang_on {
  display: flex;
  width: 150px;
  height: 59px;
  z-index: 2;
}

.nation_icon {
  display: flex;
}

.language {
  display: flex;
  align-items: center;
  width: 150px;
}

.nation_icon_kor{
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 25px;
}

.nation_icon_eng {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 25px;
  margin-left: 15px;
}

.kor {
  position: relative;
  display: inline-block;
  background: url(/img/icon/lang_kor.gif) no-repeat left;
  padding: 5px 10px 5px 15px;
  margin-left: 8px;
  font-size: 11px
}

.kor > a {
  color: #383838;
}

.eng {
  display: inline-block;
  background: url(/img/icon/lang_eng.gif) no-repeat left;
  margin-left: 15px;
  padding: 5px 10px 5px 15px;
  margin-left: 8px;
  font-size: 11px
}

.eng > a {
  color: #383838;
}

.sns {
  position: absolute;
  display: inline-block;
  padding-left: 140px;
  z-index: 1;
}

.top_list{
  display: inline-block;
}

.top_list > ul {
  display: flex;
}

.top_list > ul > li:first-child {
  background: 0;
}

.top_list > ul > li {
  font-size: 12px;
  list-style: none;
  margin-left: 10px;
  padding-left: 12px;
  background: url(/img/icon/tm_bar.gif) no-repeat left center;
}

.top_list > ul > li > a {
  color: #7d7d7d;
}

.topMenu_top {
  border-bottom: 1px solid #eaeaea ;
}

.monami_logo {
  float: left;
}

.logo {
  margin: 0 auto;
  height: 89px;
  width: 1400px;
  display: flex;
}

.menu_list {
  display: flex;
  align-items: center;
}

.test {
  display: inline-block;
}

.menu_list > ul > li {
  display: flex;
  justify-content: center;
  width: 0 auto;
  margin: 0 33px;
  font-weight: 400;
  color: #000;
}

.menu_list > ul > li:first-child {
  display: flex;
  justify-content: center;
  width: 0 auto;
  margin-right: 33px;
}

.menu_list > ul > li:nth-child(6) {
  display: flex;
  justify-content: center;
  margin-left: 33px;
}

.menu_list > ul {
  display: flex;
  margin-left: 70px;
}

.menu_list > ul > li > a {
  color: #000;
}

.serch {
  display: flex;
  padding-top: 7px; 
  width: 162px;
  float: right;
  justify-content: flex-end;
}

.visual {
  padding-top: 148px;
  background: url(/img/visual.jpg) no-repeat bottom;
  width: 100%;
  height: 652px;
}

.contain {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 90px;
}

.text_area {
  width: 1400px;
  margin: 0 auto;
  height: 100%;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.text_area > h3 {
  font-size: 50px;
  margin: 0 0 0 120px;
  font-weight: 200;
  line-height: 120%;
}

.text_area > h3:before {
  display: block;
  content: "";
  width: 80px;
  height: 1px;
  background: #fff;
  margin: 0 0 10px 0;
}


.top_area{
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  margin-bottom: 22px;
}

.text_area > p {
  color: white;
  font-size: 15px;
  margin: 30px 0 0 120px;
  font-weight: 100;
}


.top_left_box {
  display: flex;
  flex-direction: column;
  width: 414px;
}



.goods_text {
  display: flex;
  flex-direction: column;
}

.goods_text > h3 {
  font-size: 32px;
  font-weight: 550;
  color: #000;
  line-height: 120%;
  letter-spacing: 4px;
}

.goods_text > h3:after {
  display: block;
  content: "";
  width: 26px;
  height: 4px;
  margin-top: 10px;
  background-color: #c40f39;
}

.goods_text > p {
  margin-top: 10px;
  font-size: 13px;
  color:#6e6e6e;
  font-weight: 400;
}

.griffith_pop_sharp {
  display: flex;
  position: absolute;
  margin: 152px 22px 0 0;
}

/* ----- ondiv 공통 ----- */

/* .ondiv:hover {
  opacity: 1;
} */

.ondiv {
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #c40f39;
  transition: all 0.6s;
}

.ondiv > .align > .cate {
  color: #eec7d0;
  letter-spacing: 3px;
  font-size: 12px;
  margin-top: 20px;
}

.ondiv > .align > .name {
  font-size: 21px;
  color: #fff;
}

.griffith_pop_sharp > a > .ondiv {
  width: 362px;
  height: 175px;
}

.sequence > a > .ondiv {
  width: 756px;
  height: 330px;
}

.griffith_pop_sharp > a > .ondiv > .align {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  width: 362px;
  height: 175px;
}

.sequence > a > .ondiv > .align {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  width: 756px;
  height: 330px;  
}

.sequence > a > .ondiv > .align > .cate {
  color: #eec7d0;
  letter-spacing: 3px;
  font-size: 12px;
  margin-top: 20px;
}
/* ----------------- + rotate -------------------- */
.ondiv > .align > .plus {
  width: 30px;
  height: 30px;
  margin: 45px 0 auto;
  transform: rotateZ(0);
  transition: all 0.4s 0.2s;
}

.ondiv > .align > .plus:hover {
  width: 30px;
  height: 30px;
  margin: 45px 0 auto;
  transform: rotateZ(0);
  transition: all 0.4s 0.2s;
}

.ondiv:hover > .align > .plus {
  transform: rotateZ(180deg);
  transition: all 0.4s 0.2s;
}

.ondiv > .align > .plus > .div_width {
  position: relative;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.6);
}

.ondiv > .align > .plus > .div_length {
  position: relative;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255,255,255,0.6);
}

/* --------------------------------------------- */

/* ----- ondiv 공통 여기까지 ----- */


/* !!!! relative를 해야 absolute 가 따라감 !!!! */
.sequence {
  position: relative;
}

.top_right_box {
  display: flex;
}

.btm_area {
  display: flex;
}

.btm_mid_box {
  margin-left: 22px;
}

.btm_right_box {
  margin-left: 22px;
}

.best_product {
  background-color: #eee;
  padding-top: 70px;
  padding-bottom: 70px;
}

.dpt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dpt > h3 {
  font-size: 32px;
  font-weight: 600;
}

.dpt > h3::after {
  display: block;
  content: "";
  width: 26px;
  height: 4px;
  margin: 10px auto;
  background-color: #c40f39;
}

.dpt > p {
  font-size: 13.5px;
  font-weight: nomarl;
  color: #555;
}


.product {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
}

.product > ul > li {
  display: inline-block;
}

.product > ul > .on > a{
  display: block;
  width: 153px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #c40f39;
  border: 2px solid #c40f39;
}

.product >  ul > li > a{
  display: block;
  width: 153px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #898989;
  border: 2px solid #bcbcbc;
}

.scroll {
  overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.p_list > .scroll >ul{
  display: flex;
  width: 4828px;
  background-color: #eee;
}

.p_list > .scroll > ul > li{
  display: flex;
  width: 266px;
  margin-right: 18px;
}

.p_list_background {
  background-color: white;
}
.thum > img {
  width: 266px;
  height: 390px;
}

/* info font size 15px, 12px */

.p_list_background > a > .info {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0;
  height: 102px;
  background-color: white;
}

.info > .cate  {
  display: flex;
  font-size: 12px;
  color: #b3b3b3;
  margin: 33px 0 5px;
  font-weight: 200;
}

.info > .name {

  display: flex;
  font-size: 15px;
  color: #000;
  font-weight: 500;
}

.video {
  display: table;  /* display table이 뭐여*/
  width: 100%;
  text-align: center;
  background-attachment: fixed; /*background-attachment가 머여*/
}

.bgvid {
  /*!important 가 머여*/
  width: 100% !important;   
  min-height: 100%;
  height: auto;
  margin: 0 0 0 0;
  background-size: cover;
  /*background-sizr: cover;가 머여*/
}

.bbs {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f8f8f8;
}

.conwrap {
  background-color: #f8f8f8;
  display: flex ;
  width: 1400px;
}

.news {
  width: 650px;
  height: 310px;
  padding-right: 49px;
  padding-top: 45px;
  border-right: 1px solid #ddd;
}

.tit {
  margin-bottom: 15px;
}

.tit > h3 {
  display: flex;
  justify-content: space-between;
}

.news > .tit:after {
  display: block;
  content: "";
  width: 26px;
  height: 4px;
  margin-top: 5px;
  background-color: #c40f39;
}

.bbs > .conwrap > .news > .tit > h3 > a {
  display: flex;
  align-items: center;
  font-size: 11px;
  letter-spacing: 1px;
  border-bottom: 1px solid #3d3e38;
  color: #3d3e38;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 20px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 15px;
} 

.thum > a > img {
  width: 164px;
  height: 116px ;
}

.text {
  display: flex;
  flex-direction: column;
  width: 456px;
  margin-top: 5px;
}

.text > a {
  display: flex;
  height: 115px;
  flex-direction: column;
  justify-content: space-between;
}

.text > a > p {
  font-size: 14px;
  color: #555;
}

.news_text > p {
  font-size: 14px;
  color: #555;
}

.text > a > .sbj {
  font-size: 21px;
  color: #000;
  margin-bottom: 5px;
}

.sbj {
  font-size: 21px;
  color: #000;
}

.news_date {
  display: flex;
  justify-content: flex-end;
}

.date {
  color: #888;
  font-size: 13.5px;
}

.news_list > li {
  display: flex;
  justify-content: space-between;
}

.news_list > li > a, span{
  font-size: 13.5px;
  color: #555;
}

.inquiry {
  display: flex;
  flex-direction: column;
  background: url(/img/inquiry_bg.jpg);
  text-align: center;
  width: 349px;
  height: 355px;
}


.inquiry > .tit {
  background: url(/img/icon/inquiry_tit_bg.png) no-repeat center;
  padding-top: 120px;
}

.inquiry > .tit > h2:after {
  display: block;
  content: "";
  width: 26px;
  height: 4px;
  margin: auto;
  background-color: #c40f39;
  margin-top: 10px;
}

.inquiry > p {
  font-size: 13.5px;
  color: #6a6a6a;
  line-height: 160%;
}

.inquiry > a {
  width: 167px;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  font-weight: 500;
  border: 2px solid #c40f39;
  color: #c40f39;
  margin-top: 40px;
}

.inquiry > a:hover {
  color: #fff;
  border: 2px solid #c40f39;
  background: #c40f39;
  transition: all 0.6s ease-in-out;
}

.inquiry > .tit > h2 {
  margin-top: 20px;
}

.fam_links {
  padding: 45px 0;
  width: 1400px;
  margin: 0 auto;
}

.fam_links > ul {
  display: flex;
}

.fam_links > ul > li {
  display: flex;
  margin-right: 50px;
}

.fam_links > ul > li > a {
  display:block;
	border:1px solid #ddd;
	padding:1px;
	transition:all 0.3s ease-in-out;
}

.fam_links > ul > li > a:hover {
  border:1px solid #c40f39;
	box-shadow:1px 1px 0 #c40f39 inset,-1px -1px 0 #c40f39 inset;
	transition:all 0.3s ease-in-out;
}

.footer {
  background-color: #111;
  padding: 60px 0 65px;
}

.foot {
  margin: 0 auto;
  width: 1400px;
  height: 100%;
}

.foot_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.foot_top > ul {
  display: flex;
  flex-direction: row;
}

.foot_top > ul > li {
  display: flex;
  margin-right: 10px;
  padding-right: 11px;
  background: url(/img/icon/fm_bar.gif) no-repeat right center;
}

.foot_top > ul > li:last-child {
  padding: 0;
  background: 0;
}

.foot_top > ul > li > a {
  display: flex;
  align-items: center;
  color: rgba(255,255,255,0.5);
  font-size: 13.5px;
}

.foot_btm {
  padding-top: 25px;
  width: 100%;
  display: flex;
}

.foot_btm > .info {
  margin-right: 55px;
  font-size: 15px;
  margin-bottom: 10px;
}

.foot_btm > .info > .tit {
  color: white;
}

.foot_btm > .info > address , p{
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.foot_btm > .info > address > span {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 3px;
  font-style: initial;
}

.foot_btm > .cc > .tit{
  color: white;
  font-size: 15px;
}

.foot_btm > .cc > .cc_tel{
  color: rgba(255,255,255,0.5);
  font-size: 24px;
}
